doctype
html(lang="ja")
    head
        title= title
        link(rel="stylesheet" href="./css/style.css" type="text/css")
    body(style="margin-top: 50px;")
        a(href="./oauth")
            img.img_wrap_center(src="./images/sign-in-with-twitter-gray.png")
